@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* ### styling starts here ###  */

/* ### header styling starts here ### */

.wrapper {
  max-width: 1348px;
  width: 81%;
  margin: 0 auto;
}

body {
  background-color: #9a8484;
  overflow-x: hidden;
}

header {
  margin-top: 26px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.5px solid #2c2c2c;
  padding-bottom: 26px;
}

h1 a {
  font-size: 33px;
  font-weight: 700;
  color: #fff;
  margin-left: -2px;
}

.hambur {
  display: none;
  cursor: pointer;
}

.hambur span {
  width: 25px;
  height: 3px;
  display: block;
  position: absolute;
  z-index: 5;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 0px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.hambur span:nth-child(1) {
  top: 0;
}

.hambur span:nth-child(2) {
  top: 8px;
}

.hambur span:nth-child(3) {
  top: 16px;
}

.nav-list a {
  color: #000;
  text-transform: uppercase;
  font-size: 12.5px;
  letter-spacing: 1.4px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-list a:hover {
  color: #fff;
}

.nav-list li:nth-child(n + 1):nth-child(-n + 3) {
  padding-right: 39px;
  padding-top: 11px;
}

.nav-list li:first-child a {
  border-bottom: 3px solid #8fd0a6;
  padding-bottom: 10px;
}

/* ### header styling ends here ### */

/* ### all player data section starts here ### */

.all-player-data {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 40px;
}

.player-data {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.player-data li {
  margin-bottom: 15px;
  margin-right: 15px;
  background: #2f2f2f;
  color: #fff;
  padding: 15px;
  width: 300px;
}

.player-data p {
  padding-bottom: 6px;
}

.player-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-input {
  width: 60%;
}

input[type='text'] {
  width: 94%;
  padding-left: 20px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

input[type='button'] {
  height: 40px;
  width: 100px;
  background-color: #e7e7e7;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type='button']:hover {
  background-color: #4e4c4c;
  color: #e7e7e7;
}

/* ### Modal Content  styling starts */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000066;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 28%;
  position: relative;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -6px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000066;
}

.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 28%;
  position: relative;
}

/* The Close Button */

.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -6px;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pop-up {
  position: absolute;
  left: 257px;
  width: 100%;
  color: #f90c0c;
  top: 49px;
  font-size: 20px;
}

/* ### Modal Content  styling ends */

/* ### all player data section ends here ### */

/* ### media queries starts here ### */

@media only screen and (max-width: 768px) {
  /* ### navbar styling starts here ### */

  header .wrapper {
    flex-direction: row-reverse;
  }

  .nav-list {
    width: 180px;
    height: 52vh;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0%;
    left: -60%;
    background-color: #fefefe;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
    z-index: 1;
  }
  .display {
    left: 0%;
  }

  /* hamburger styling on click */

  .hambur {
    width: 25px;
    height: 20px;
    display: block;
    position: absolute;
    top: 4%;
    left: 2%;
  }
  .nav-list li:nth-child(n + 1):nth-child(-n + 4) {
    text-align: center;
    padding: 18px;
    margin-top: 15px;
    padding-right: 0px;
  }

  .nav-list a:hover {
    color: #000;
  }

  .active span:nth-child(1) {
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  .active span:nth-child(3) {
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  .active span:nth-child(2) {
    opacity: 0;
  }

  /* ### navbar styling starts here ### */

  /* ### all player data section styling start ### */

  .player-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .pop-up {
    left: 78px;
    max-width: 500px;
  }

  input[type='button'] {
    margin: 40px auto;
  }

  input[type='button']:hover {
    background-color: #e7e7e7;
    color: #000;
  }

  .close:hover,
  .close:focus {
    color: #aaaaaa;
  }

  /* ### all player data section styling start ### */
}

/* ### media queries ends here ### */
